<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GDSC Blogs</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow p-3 mb-5 bg-white rounded "
    style="background-color: #ffffff;">
    <div class="container">
      <p class="logo"><lottie-player src="https://lottie.host/4a65d9a4-54d0-4320-8c8e-964f2bcfe502/JuWQKD2JoZ.json"
          background="transparent" speed="1" style="width: 150px; height: 150px" mode="bounce" loop
          autoplay></lottie-player></p>
      <div class="navbar-header">
        <p class="navbar-brand Heading new">DSC IIITB</p>
      </div>
      <div class="right">

        <ul class="navbar-nav ms-auto">
          <li id="home" class="nav-item"><a class="nav-link" href="/">HOME</a></li>
          <li id="about" class="nav-item"><a class="nav-link" href="/#about">ABOUT US</a></li>
          <li id="contact" class="nav-item"><a class="nav-link" href="/#top">BLOGS</a></li>

          <li id="about" class="nav-item"><a class="nav-link" href="/compose">COMPOSE</a></li>
          <li id="contact" class="nav-item"><a class="nav-link" href="/#bottom">CONTACT US</a></li>

        </ul>
      </div>
    </div>
  </nav>
<body style="background-color:#ffffff;">